body {
  margin: 0;
   font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #24303B;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
  color: #24303B;
  font-weight: bolder;
}

h3 {
  padding: 0;
  margin: 0;
}

hr {
  border: none;
}

input {
  width: 98%;
  font-size: 14px;
  padding: 12px 14px;
  border: none;
  border-bottom: 1px solid #3E6E9E;
  font-family: 'Comfortaa', cursive;
  border-radius: 0px;
}

input:focus {
  outline: 1px solid #3E6E9E;
  border-bottom: none;
  border-radius: 6px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  align-content: center;
  text-align: center;
}

.card img {
  max-height: 17rem;
}

.card p {
  padding: 5px;
  font-weight: bold;
}

.loading {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.contenedor_categoria{
  margin-top: 1.5rem;
}

.contenedor_titulo_categoria {
  border-bottom: 3px solid #24303B;
}

.contenedor_titulo_categoria .titulo_categoria{
  color: white;
  background-color: #24303B;
  display: inline-block;
  padding: 0.5em 1rem;
}